*{
    font-family: Georgia, 'Times New Roman', Times, serif;
} 


.headerText{
    font-family: 'Righteous', cursive;
    font-size: 45px;
    text-align: center;
}


.currency1, .currency2{
    height: 250px;
}

.currency1Data, .currency2Data{
    height: 100px;
}

.currencyLogo {
    font-size: 30px;
    padding-top: 20%;
}

.box1, .box2 {
    width: 15em;
 
}

.blankArea {
    height: 50px;
}

.currency2data {
    top: auto;
}

.buttons-pdfButton{
    text-align: right;
}

