*{
    font-family: Georgia, 'Times New Roman', Times, serif;
} 


.headerText{
    font-family: 'Righteous', cursive;
    font-size: 45px;
    text-align: center;
}


.currency1, .currency2{
    height: 250px;
}

.currency1Data, .currency2Data{
    height: 100px;
}

.currencyLogo {
    font-size: 30px;
    padding-top: 20%;
}

.box1, .box2 {
    width: 15em;
 
}

.blankArea {
    height: 50px;
}

.currency2data {
    top: auto;
}

<<<<<<< HEAD
.buttons pdfButton{
    text-align: right;
}


.hero
  .title a
    text-decoration: underline
  
h1
  font-size: 2em

$grey-lighter: hsl(0, 0%, 86%) !default
$table-cell-border: 1px solid $grey-lighter !default
$table-cell-border-width: 0 0 1px !default

@media screen and (max-width: 800px){

  .is-responsive
    width: 100%
    border-collapse: collapse
    border-spacing: 0
    display: block
    position: relative

    td:empty:before
      content: '\00a0'

    th,
    td
      margin: 0
      vertical-align: top

    th
      text-align: left

    thead
      border-right: solid 2px $grey-lighter
      display: block
      float: left

      tr
        display: block
        padding: 0 10px 0 0

        th::before
          content: "\00a0"
      td,
      th
        border-width: 0 0 1px

    tbody
      display: block
      width: auto
      position: relative
      overflow-x: auto
      white-space: nowrap

      tr
        display: inline-block
        vertical-align: top

    th
      display: block
      text-align: right

    td
      display: block
      min-height: 1.25em
      text-align: left

    th,
    td
      &:last-child
        border-bottom-width: 0

    tr
      &:last-child
        td:not(:last-child)
          border: $table-cell-border
          border-width: $table-cell-border-width

    &.is-bordered
      td,
      th
        border-width: 1px
      tr
        td,
        th
          &:last-child
            border-bottom-width: 1px
        &:last-child
          td,
          th
            border-width: 1px
}

.calButton, .pdfButton{
    width: 150px;
}

.last5 {
    padding: 30px;
}

.mainArea {
background-color: rgb(209, 209, 233);
}

.fiveArea {
    background-color: rgb(195, 247, 243);
}

.mainbox {
    padding: 30px;
}
=======
.buttons-pdfButton{
    text-align: right;
}

>>>>>>> beceb58216a3fffafbb23933a0ebb11338ca81cb
